<div class="main-container">
    <h1>tic-tac-toe</h1>
    <div class="field d-flex justify-content-center">
        <p class="mat-display-1 current-status">Start the Game with button!</p>
    </div>

    <div *ngIf="this.game.gameStatus === 0" class="field d-flex justify-content-center">
        <button  (click)="startGame()" color='accent' mat-raised-button class="start-game-button">Start Game Button</button>
    </div>


    <div *ngIf="this.game.gameStatus === 1" class="gameboard">

        <div class=" players align-self-center">
            <p class="mat-body-1 player-p player-one-name">Player 1</p>

        </div>

        <div class="gamefield container-fluid">
            <div class="row">
                <div (click)="clickSubField($event)" class="subfield col-4" position="0"></div>
                <div (click)="clickSubField($event)" class="subfield col-4" position="1"></div>
                <div (click)="clickSubField($event)" class="subfield col-4" position="2"></div>
            </div>
            <div class="row">
                <div (click)="clickSubField($event)" class="subfield col-4" position="3"></div>
                <div (click)="clickSubField($event)" class="subfield col-4" position="4"></div>
                <div (click)="clickSubField($event)" class="subfield col-4" position="5"></div>
            </div>
            <div class="row">
                <div (click)="clickSubField($event)" class="subfield col-4" position="6"></div>
                <div (click)="clickSubField($event)" class="subfield col-4" position="7"></div>
                <div (click)="clickSubField($event)" class="subfield col-4" position="8"></div>
            </div>
        </div>

        <div class=" players align-self-center">
            <p class="mat-body-1 player-p player-two-name">Player 2</p>

        </div>
    </div>

</div>