<div class="main-container">
    <h1>tic-tac-toe</h1>
    <div class="field d-flex justify-content-center">
        <p class="mat-display-1">Start the Game with button!</p>
    </div>

    <div class="field d-flex justify-content-center">
        <button color='accent' mat-raised-button class="start-game-button">Start Game Button</button>
    </div>


    <div class="gameboard">

        <div class="player1 players align-self-center">
            <p class="mat-body-1 player-p">Player 1</p>

        </div>

        <div class="gamefield container-fluid">
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
        </div>

        <div class="player2 players align-self-center">
            <p class="mat-body-1 player-p">Player 2</p>

        </div>
    </div>

</div>