h1 {
  font-weight: 900;
  text-align: center;
  margin: 15px 0;
  color: white;
}

.field {
  width: 100%;
}

p {
  color: white;
}

.main-container {}

.gameboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gamefield {}

.subfield {
  cursor: pointer;
  height: 300px;
  width: 100px;
  border: 1px solid white;

}

.player-p {
  font-weight: 700;
  margin: 0 0 10px 10;
}

.player-two-name {
  color: green;
  margin-right: 10px;

}

.player-two {
  background-color: green;

}

.player-one {
  background-color: red;
}

.player-one-name {
  color: red;
  margin-left: 10px;
}
